@inherits LayoutComponentBase
@using DnetAdminDashboard.DesktopLayout
@using DnetAdminDashboard.DesktopLeftColumn
@using DnetAdminDashboard.DesktopCenterColumn
@using DnetAdminDashboard.DesktopLayoutCenterContainer
@using DnetAdminDashboard.DesktopHeader
@using DnetAdminDashboard.DesktopContent
@using DnetAdminDashboard.DesktopFooter
@using DnetAdminDashboard.DesktopNavigation
@using DnetAdminDashboard.Infrastructure.Enums
@using DnetAdminDashboard.Infrastructure.Interfaces
@using DnetAdminDashboard.Infrastructure.Models
@using DnetOverlayComponent
@using DnetSpinnerComponent

<DnetOverlay></DnetOverlay>
<DnetSpinner CanRun="true" BindToView="true" ShowMask="true"></DnetSpinner>

<DesktopLayout>
    <DesktopLeftColumn>
        <DesktopNavigation>
            <DesktopNavigationMenu Menus="@Menus"></DesktopNavigationMenu>
            <DesktopMinifyMenu></DesktopMinifyMenu>
        </DesktopNavigation>
    </DesktopLeftColumn>
    <DesktopCenterColumn>
        <DesktopLayoutCenterContainer>
            <DesktopHeader>
                <DesktopHeaderContent AppName="@AppName" AppDescription="@AppDescription" AppVersion="@AppVersion" UserName="@UserName" PersonName="@PersonName">
                    <span class="blg-logo blg-logo-img"></span>
                </DesktopHeaderContent>
            </DesktopHeader>
            <DesktopContent>
                @Body
            </DesktopContent>
            <DesktopFooter>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center justify-content-start dnet-p-l-20">
                        <span>2020 © BlGrid by Datalnet</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-start  dnet-p-r-20">
                        <div class="widget">
                            <a class="btn" href="#nogo" rel="noopener" target="_blank" aria-label="Star ag-grid/ag-grid on GitHub">
                                <svg viewBox="0 0 16 16" class="octicon octicon-mark-github" style="width: 14px; height: 14px;" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>
                                <span>Star</span>
                            </a>
                        </div>
                    </div>
                </div>
            </DesktopFooter>
        </DesktopLayoutCenterContainer>
    </DesktopCenterColumn>
</DesktopLayout>

@code {

    private List<NavigationMenu> Menus { get; set; }

    private string AppName { get; set; }

    private string AppDescription { get; set; }

    private string AppVersion { get; set; }

    private string Title { get; set; }

    private string UserName { get; set; }

    private string PersonName { get; set; }

    protected override void OnInitialized()
    {
        AppName = "BlGrid Demos";
        AppVersion = "V.1.6.8";
        UserName = "The Beauty & the Beast";

        Menus = new List<NavigationMenu> {
            new NavigationMenu {
                MenuId = 10,
                Link = "/",
                ParentId = 0,
                Text = "Home",
                IconClass = "blg-menu-img blg-icon-dashboard",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
                HasImage = true
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/FilteringExample",
                ParentId = 0,
                Text = "Filtering Example",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/DummyExample",
                ParentId = 0,
                Text = "Dummy Example",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/RowSelectionExample",
                ParentId = 0,
                Text = "Row Selection",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/MultipleRowSelectionExample",
                ParentId = 0,
                Text = "Multiple Row Selection",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/AdvancedFilteringExample",
                ParentId = 0,
                Text = "ClientSide Advanced Filtering",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/GroupingExample",
                ParentId = 0,
                Text = "ClientSide Grouping",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/CellTemplatesExample",
                ParentId = 0,
                Text = "Cell Templates",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
            new NavigationMenu {
                MenuId = 11,
                Link = "/ServerSideOperationsExample",
                ParentId = 0,
                Text = "ServerSide operations",
                IconClass = "",
                Children = new List<NavigationMenu>(),
                IsNode = true,
                Rights = new List<string> {
                    "CanReadDashboard"
                },
            },
        };
    }
}
